*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    height: 100%;
    background-color: rgb(246, 242, 242);
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;    
}
body::-webkit-scrollbar { width: 0 !important }


.container{
    margin: 3rem; 
 
}
.fa-square-check{
    cursor: pointer;
    border: 2px solid black;

}
.show-tick{
    background-color: green;

}
.form{
   margin-top: 20px;
}
.rmv-form{
    display: none;
}
.input-1{
    padding-left: 5px;
    height: 2rem;
    border-radius: 4px;
    width: 100%;
    border: 2px solid black;
    flex: 1;
}
.btn{
    height: 2.5rem;
    width: 100%;
   padding: 2px 10px;
   background-color: blue;
   border: none;
   border-radius: 4px;
   color: white;
   font-weight: bold;
   border-radius: 9px;
   font-size: 1rem;
   text-transform: capitalize;
   cursor: pointer;
}
.fa-minus{
   background-color: red;
   padding: 2px 2px;
   border-radius: 4px;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
.unorder-list{
    width: 100%;
    margin-top: 2rem;
    justify-content: ;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    gap: 10px;

}
.check-1, .check{
    cursor: pointer;
    
}
li{
    width: 100%;
    padding-left: 10px;

}
.li{
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.input{
    display: flex;
    align-items: start;
    padding-left:  5px;
    height: 100%;
    gap: 5px;
}
input:focus{
    outline: none;
}
.select{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between; 

    
}

.select select{
    width: 100%;
    margin:;
   
}
.strike{
    
}
.checked{
    display: flex;
    text-decoration: line-through;
}
.task{
    text-align:;
}
.show-li{
    display: none;
}
.rmv{
    display: none;
}
.priorities{
display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
gap: 20px;
margin: 2rem 0;

}

input[type="radio"]{
    display: none;
}
label{
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  ;
    cursor: pointer;
    padding: 3rem 5rem;
    box-shadow: 2px 3px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    font-size: 20px;
    
}
.bubble{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 20px;
 width: 20px;
 border-radius: 50%;
 border: 2px solid black;
}
.bubble::after{
    content: "";
    display: block;
    opacity: 0;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    border-radius: 2px solid black;
    background-color: rgb(55, 55, 2);
}

.bubble.A-very-important::after{
    background-color: green;
}

.bubble.B-important::after{
    background-color: blue;
}
input:checked ~ .bubble::after{
  width: 10px;
  height: 10px;
  opacity: 1;
}
.C-not-important{
    border-color: rgb(55, 55, 2);

}
.B-important{
    border-color: blue;
}
.A-very-important{
    border-color: green;
}
.rmv-pror{
    display: none;
}
.reset{
    margin-top: 2rem;
}

.reset button{
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 2rem;
}
.reset{
    width: 100%;

}
.reset button{
    width: 100%;
}

@media (max-width: 992px) {
    label{
        padding: 3rem 2rem;  
    }
}

@media (max-width: 650px) {
    .priorities{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            width: 100%;  
    }
    label{
        width: 100%;
        display: flex; 
        gap: 10px;
        flex-direction: row;
        align-items: center;
        height: 0.5rem;
        
    }
}
/* 
@media (max-width: 750px) {
    label{
       
        padding: 2rem 2rem;
       
    }
} */